SECRET_KEY=django-insecure-4x9v2z7k1m6p3q8r5t0y1u4i7o2a6s9d8f5g3h2j1k0l7n4b6c
DEBUG=True
DATABASE_URL=
ALLOWED_HOSTS=localhost,127.0.0.1,your-app-name.up.railway.app
DB_ENGINE=mysql
DB_NAME=paramita_db
DB_USER=root
DB_PASSWORD=Rinku12@
DB_HOST=localhost
DB_PORT=3306
